h3{
  color: #F2FFE3;
  font-size: 2.5em;
}

.pAbout{
  font-size: 1.3em;
  padding: 1px;
}

.flip-container {
  -webkit-perspective: 1000;
  -moz-perspective: 1000;
  -o-perspective: 1000;
  perspective: 1000;
  padding: 10px;
}

	.flip-container:hover .flipper,
  .flip-container.hover .flipper {
		-webkit-transform: rotateY(180deg);
		-moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
		transform: rotateY(180deg);
	}

.flip-container, .front, .back {
	width: 320px;
	height: 427px;
}

.flipper {
	-webkit-transition: 0.6s;
	-webkit-transform-style: preserve-3d;
	-moz-transition: 0.6s;
	-moz-transform-style: preserve-3d;
  -o-transition: 0.6s;
	-o-transform-style: preserve-3d;
	transition: 0.6s;
	transform-style: preserve-3d;
	position: relative;
}

.front, .back {
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
  -o-backface-visibility: hidden;
	backface-visibility: hidden;
	position: absolute;
	top: 0;
	left: 0;
  background: #F2FFE3;
}


.back {
	-webkit-transform: rotateY(180deg);
	-moz-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
	transform: rotateY(180deg);
}


.pFront{
  position: absolute;
	bottom: 190px;
	left: 0;
	right: 0;
	text-align: center;
	padding: 0 20px;
  font-size: 1.7em;
  line-height: 2em;
}
.pBack {
	position: absolute;
	bottom: 140px;
	left: 0;
	right: 0;
	text-align: center;
	padding: 0 20px;
  line-height: 2em;
}
