body {
  margin: 0;
  padding: 0;
  background: #FF8B00;
  font-family: 'Roboto', sans-serif;
}
.Typist .Cursor--blinking {
    opacity: 1;
    animation: blink 1s linear infinite;
  }

@keyframes blink {
  0% {opacity: 1; }
  50% {opacity: 0; }
  100% {opacity: 1; }
}

.intro{
  background: #FF8B00;
  height: 30vh;
  color: #F2FFE3;
  font-size: 4vh;
}

.bikeRow{
  background: #FF8B00;
  height: 50vh;
}

.buttons{
  height: 20vh;
}

button{
  background: transparent;
  border: 3px solid #F2FFE3;
  color: #F2FFE3;
  padding: 10px;
  font-size: 1.2em;
  margin: 10px;
}
button:hover{
  border: 3px solid black;
  color: black;
  cursor: pointer;
}
.questionCard{
  background: #F2FFE3;
  height: 20vh;
  width: 100%;
  font-size: 3vh;
  text-align: center;
  vertical-align: middle;
  line-height: 8;
}

.route{
  height: 50vh;
  background: yellow;
}
